::selection {
    background-color: #ff8c00;
    color: white; /* Optional: change text color for better contrast */
}

button, a {
    cursor: none;
}

.works_custom-cursor {
    pointer-events: none;
}

.custom-cursor {
    pointer-events: none;
    mix-blend-mode: multiply;
}

/* body {
    cursor: none; 
}

.custom-cursor {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    pointer-events: none; 
    transform: translate(-50%, -50%);
} */