::selection {
  background-color: #ff8c00;
  color: white; /* Optional: change text color for better contrast */
}

body {
  cursor: none;
}

* {
  cursor: none; /* Отключает курсор для всех элементов */
}

.hidden,
.tooltip,
.modal {
  cursor: none;
}

a,
button,
input,
textarea,
select {
  cursor: none; /* Убирает стандартный курсор для интерактивных элементов */
}

/* #work-section {
    scroll-padding-top: 100px;
} */

.works_custom-cursor {
  pointer-events: none;
}

.custom-cursor {
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: normal;
}




/* Из Global Style Webflow  */



